/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* global style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}

main {
  flex-grow: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1270px;
  background-color: #ffffff;
}
.btn {
  background-color: #000000;
  padding: 12px 32px;
  color: #ffffff;
  border-radius: 25px;
  &:hover {
    opacity: 70%;
  }
  &:active {
    opacity: 60%;
  }
}
/* header start */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-link {
  color: #000000;
  font-size: 15px;
  line-height: 22.5px;
}
.menu-link:hover {
  opacity: 70%;
}

.menu-link:active {
  opacity: 60%;
}

/* header end */
/* main hero start */

.hero-container {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.small-subtitle {
  color: #a6a6a6;
  line-height: 19.2px;
  margin-bottom: 5px;
}
.hero-title {
  max-width: 554px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 64px;
  color: #000;
  line-height: 76.8px;
  margin-bottom: 23px;
}
.hero-description {
  max-width: 717px;
  margin-left: auto;
  margin-right: auto;
  color: #212529;
  margin-bottom: 36px;
}

.btn-hero {
  margin-left: 4px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-hero {
}
/* main hero end */
/* offer section start */
.offer-top {
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.offer-items {
  display: flex;
  align-items: center;
  gap: 9px;
}
.offer-item {
  color: #686868;
}

.main-title {
  font-size: 61px;
  line-height: 73.2px;
  width: 1012px;
  height: 293px;
  margin-left: 121px;
  margin-bottom: 90.11px;
}
.main-image {
  width: 817px;
  height: 385px;
}

.main-container {
  width: 1240px;
  height: 170px;
  align-items: center;
  justify-content: center;
  display: table;
  text-align: center;
}

.main-span {
  font-size: 16px;
  line-height: 19.2px;
  color: #a6a6a6;
  margin-bottom: 4px;
}
.main-title {
  font-size: 61px;
  line-height: 73.2px;
}

.main-list {
  display: flex;
  gap: 30px;
}

.main-image {
  margin-bottom: 40.16px;
}
.main-image-title {
  width: 251px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.main-description {
  width: 369px;
  height: 72px;
}
/* offer section end */
/* delivery start */

.delivery-container {
  width: 1240px;
  height: 170px;
  align-items: center;
  justify-content: space-between;
  display: table;
  text-align: center;
}
.delivery-span {
  font-size: 16px;
  line-height: 19.2px;
  color: #a6a6a6;
  margin-bottom: 4px;
}
.delivery-title {
  font-size: 61px;
  line-height: 73.2px;
}

.delivery-list {
  display: flex;
  gap: 30px;
}

.delivery-image {
  margin-bottom: 40.16px;
}
.delivery-image-title {
  width: 251px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-top: -0.16px;
  margin-bottom: 12px;
}
.delivery-description {
  padding-top: 12px;
  width: 369px;
  height: 72px;
  margin-bottom: 127.16px;
}

/* delivery end */

/* trecking start */

.tracking-container {
  width: 635px;
  height: 301px;
  margin-left: 15px;
}
.tracking-title {
  font-size: 61px;
  line-height: 73.2px;
  color: #000000;
  margin-bottom: 23px;
  margin-right: 151px;
  margin-top: 0.42px;
}
.tracking-description {
  width: 517px;
  height: 72px;
  color: #212529;
  margin-bottom: 16px;
}

.tracking-btn {
  width: 153px;
  height: 43px;
  border: 2px solid black;
  border-radius: 25px;
  color: #ffffff;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.tracking-image-container {
  width: 605px;
  height: 342px;
  padding: 0.1px 15px;
  padding-top: 0.16px;
}

/* tracking end */
